<!DOCTYPE html>

<html ng-app>
<head>
<script src="js/angular.js"></script>
<script src="js/controller.js"></script>

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
<link href="css/product.css"rel="stylesheet" type="text/css" />
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
<hr>
 <div ng-controller="SelectorController">
    <input type="button" value="切換下拉選單" ng-click="switchStage()" />
    <div id="stage" ng-switch on="stage">
      <div ng-switch-when="1">
        <h3>下拉選單 1</h3>
        <select ng-model="$parent.SelectModel1">
          <option value="">--請選擇--</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
        您選擇: <span ng-bind="$parent.SelectModel1"></span>
      </div>
      
      <div ng-switch-when="2">
        <h3>下拉選單 2</h3>
        <select ng-model="$parent.SelectModel2">
          <option value="">--請選擇--</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
        您選擇: <span ng-bind="$parent.SelectModel2"></span>
      </div>

    </div>

    <ul>
      <li>您在【下拉選單 1】選取的值為: <span ng-bind="SelectModel1"></span></li>
      <li>您在【下拉選單 2】選取的值為: <span ng-bind="SelectModel2"></span></li>
    </ul>
    
  </div>
<hr>
<div ng-controller='ProductController'>
  購物車
  <table class='table'>
    <tr>
      <td><input type="checkbox" ng-model='IsCheckAll' ng-change='checkAll()'></td>
      <td>功能</td>
      <td> #</td>
      <td>商品名稱</td>
      <td>商品價格</td>
      <td>購買數量</td>
      <td>小計</td>
    </tr>
    <tr ng-repeat='item in carts'
        ng-class="{bg:$even,highlitgh:IsHighlight}"
        ng-mouseover="IsHighlight=true"
        ng-mouseleave="IsHighlight=false"
    >
      <td><input type="checkbox" ng-model="item.isDeleted"></td>
      <td><button ng-click='del(item)'>Del</button>
      </td>
      <td>{{$index+1}}</td>
      <td>{{item.PName}}</td>
      <td>{{item.Price}}</td>
      <td> 
        <div ng-click='edit(item);'>
        <span ng-hide='IsEdit(item)' >{{item.Qty}} </span>
        </div>
        <input type="number" ng-show='IsEdit(item)' ng-model='item.Qty2'  ng-keyup='done($event,item)' class="input-mini">
       
      </td>
      <td>$NT<span ng-bind="sub_total(item.Qty,item.Price,item)|number">計算中...</span></td>
    </tr>
    <tr>
      <td></td>
      <td><button ng-click="batchDel()">批次刪除</button></td>
      <td></td>
      <td></td>
      <td></td>
      <td>總計：</td>
      <td>$NT{{total()|number}}</td>

    </tr>
  </table>

<hr>
    {{HTMLString}}<br>
    商品名稱 ：<input type="text" ng-model="cart_item.PName"> <br>
    數量     ：<input type="number" ng-model="cart_item.Qty"><br>
    價格     ：<input type="number" ng-model="cart_item.Price"><br>
    購買商品： {{cart_item.PName}}，數量： {{cart_item.Qty}} 價格 {{cart_item.Price}}元 <br>
    共 {{cart_item.Qty * cart_item.Price | currency }}<br>

  <button type="text" ng-click="add()">add</button>
  
  <hr>
  啟用<input type="checkbox" ng-model="IsDebug">
  <pre ng-show='IsDebug'>
    {{carts|json}}
    {{edit_cart|json}}
  </pre>
  
  <hr>
  </div>
</body>
</html>